/*==================================================*\
        Common Style
\*==================================================*/

// iPhone 滑動不順的時候可以使用
// -webkit-overflow-scrolling: touch;

/*==================== Functional Classes ====================*/
// Clearfix
.c {
  width: 100%;
  height: 0;
  clear: both;
  display: block;
}
._c {
  &:after {
    @include pseudo($pos: static);
    @extend .c;
  }
}

.ifr-wrap {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  position: relative;

  iframe {
    @include wh(100%);
    position: absolute;
    top: 0; left: 0;
  }
}




/*==================== Flex Series ====================*/
.flex-center-between {
  @include set-flex(center, space-between);
}
.flex-center-start {
  @include set-flex(center, flex-start);
}
.flex-center-center {
  @include set-flex(center, center);
}





/*==================== Util ====================*/
// 小標題
.top-title {  /* <header> */
  @include wh(size-rem(350));
  margin: auto;
  margin-top: size-rem(-350 / 3 * 2);
  border-radius: 100%;
  position: relative;

  &:before {
    @include pseudo();
    margin: auto;
    transform: translateY(50%);
    background-size: 100% 100%;
    background-position: center center;
    bottom: 0;
    left: 0; right: 0;
  }

  > * {
    margin: auto;
    color: $c-white;
    font-size: size-rem(40);
    text-align: center;
    z-index: 1;
    position: absolute;
    bottom: size-rem(40);
    left: 0; right: 0;
  }
}

// 內容 (小標題下方)
.content {
  margin-top: size-rem(100);
}

.go-top {
  width: size-rem(100);
  height: size-rem(101);
  transform: translate(0, 0);
  font-family: $font-stack-en-first;
  z-index: 20;
  position: fixed;
  bottom: size-rem(50); right: size-rem(-15);
  @include mq(tablet-wide) {
    width: size-rem(125);
    height: size-rem(125);
    right: 3px;
  }

  p {
    transform: inherit;
    color: $c-goTop;
    font-size: size-rem(20);
    position: absolute;
    top: size-rem(42); left: size-rem(20);
    @include mq(tablet-wide) {
      font-size: size-rem(24);
      top: size-rem(49); left: size-rem(27);
    }

    &:before {
      @include pseudo();
      @include wh(size-rem(24));
      margin: auto;
      transform: rotate(-45deg);
      border-width: size-rem(4);
      border-style: solid;
      border-color: $c-goTop $c-goTop transparent transparent;
      top: size-rem(-18);
      left: 0; right: 0;
      @include mq(tablet-wide) {
        @include wh(size-rem(28));
      }
    }
  }
}



// 顏色標題
.color-title {
  margin-bottom: size-rem(45);
  border-bottom: 1px solid $c-headerBg;
  text-align: center;
  @include mq(tablet-wide) {
    margin-bottom: size-rem(50);
  }

  p {
    padding: 0 size-rem(30);
    border-radius: size-rem($bdrs-std) size-rem($bdrs-std) 0 0;
    color: $c-bodyBgGray;
    font-size: size-rem(25);
    font-weight: bold;
    line-height: 1.9;
    display: inline-block;
    background-color: $c-headerBg;
    @include mq(tablet-wide) {
      font-size: size-rem(30);
    }
  }
}



// 路標小標頭
.sign-title {
  display: inline-block;
  margin-bottom: size-rem(45);

  &:before {
    @include pseudo(block, static);
    width: size-rem(47);
    height: size-rem(52);
    margin-top: size-rem(-20);
    float: left;
    background-image: url('../images/icon/sign_title.png');
    background-size: cover;
    background-position: center center;
  }

  p {
    font-size: size-rem(27);
    font-weight: bold;
    @include mq(tablet-wide) {
      font-size: size-rem(21);
      text-align: center;
    }
  }
}

.source-wrap {
  text-align: center;

  .source {
    text-align: left;
    display: inline-block;
  }
}

.source {  /* <p> */
  margin-top: size-rem(35);
  color: $c-source;
  font-size: size-rem(18);
  text-align: center;
  @include mq(tablet-wide) {
    font-size: size-rem(14);
    text-align: center;
  }
}

.highlight-word {
  font-size: size-rem(21);
  font-weight: bold;
  text-align: center;

  span {
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    display: inline-block;
    z-index: 1;
    position: relative;
    
    &:before {
      @include pseudo();
      width: 100%;
      height: size-rem(12);
      background-color: $c-highlight;
      z-index: -1;
      bottom: 0; left: 0;
    }
  }
}