/*==================================================*\
        Page Header
\*==================================================*/

.page-header {
  width: 100%;
  z-index: 999;
  position: fixed;
  top: 0; left: 0;
  transition: all $duration-std;

  .container {
    max-width: 1920px;
    padding: 20px 40px;
    @include set-flex(center, space-between);
    @include mq(tablet, max) {
      max-width: 100%;
      padding: 20px 10px;
    }
    @include mq(phone-mini, max) {
      padding: 10px;
    }
  }

  &.menuOpen {
    .hamburger {
      line {
        &:first-of-type {
          transform: rotate(45deg);
        }
        
        &:nth-of-type(2) {
          opacity: 0;
        }
  
        &:last-of-type {
          transform: rotate(-45deg);
        }
      }
    }
  }
}

.header-top {
  background-color: #131722;

  img {
    width: 100%;
  }
}

.main-logo {
  width: 238px;
}

.sub-logo {
  width: 74px;
  display: block;
  margin-left: 35px;
}

@include mq(phone-wide, max) {
  .main-logo {
    width: 170px;
  }
  
  .sub-logo {
    width: 45px;
    margin-left: 20px;
  }  
}
@include mq(phone-mini, max) {
  .main-logo {
    width: 150px;
  }
  
  .sub-logo {
    width: 35px;
    margin-left: 20px;
  } 
}


.header-nav {
  @include set-flex(center, space-between);
  @include mq(tablet-wide, max) {
    width: 100%;
    position: absolute;
    top: 0; left: 0;
    text-align: center;
    background-color: rgba(0,0,0,0.8);
  }
  
  ul {
    @include set-flex(center, space-between);
    @include mq(tablet-wide, max) {
      display: none;
      overflow: hidden;
      width: 100%;
      text-align: center;
    }
  }

  li {
    transition: all $duration-fast;
    display: flex;
    align-self: stretch;
    padding-right: 35px;
    
    // @include mq(tablet) {
    //   padding: 0 5px;
    // }
    // @include mq(tablet-wide) {
    //   padding: 0 10px;
    // }
    // @media screen and (max-width:1080px) { 
    //   padding-right: 15px;
    // }
    @include mq(tablet-wide, max) {
      display: block;
      width: 100%;
      text-align: center;
      padding: 0;
    }

    &:last-child{
      border-left: 1px solid #FFF;
      padding-left: 35px;
      padding-right: 0px;
      @include mq(tablet-wide, max) {
        padding-left: 0;
        border: none;
        display: none;
      }
    }
    
    &:not(:last-of-type) {
      border-bottom: 1px solid #469dd6;
      
      @include mq(tablet-wide) {
        border-bottom: 0;
      }
    }

    &.active {
      // border-bottom-color: #308dfe;
      p {
        &:before {
          width: 100%;
          opacity: 1;
        }
      }
    }
    // @include mq(tablet-wide, max) {
    //   &.active{
    //     background: #469dd6;
    //   }
    //   &:hover {
    //     background: #469dd6;
    //   }
    // }
  }

  a {
    display: flex;
    align-self: stretch;
    &.active{
      p{
        color: #308dfe;
        &:before {
          width: 100%;
          opacity: 1;
        }
      }
    }
    &:hover {
      p {
        color: #308dfe;
        &:before {
          width: 100%;
          opacity: 1;
        }
      }
    }

    @include mq(tablet-wide, max) {
      justify-content: center;
      padding: 20px;
      &.active{
        background: #469dd6;
        p{
          color: #FFF;
          &:before {
            opacity: 0;
          }
        }
      }
      &:hover {
        background: #469dd6;
        p {
          color: #FFF;
          &:before {
            opacity: 0;
          }
        }
      }
    }

  }
  
  p {
    display: flex;
    align-items: center;
    color: $c-white;
    font-size: size-rem(18);
    font-weight: bold;
    // line-height: 2.93;
    text-align: center;
    position: relative;
    line-height: 1em;
    padding: 2px 0;
    // @include mq(tablet) {
    //   color: $c-white;
    //   font-size: size-rem(15);
    // }
    // @media only screen and (max-width: 767px) {
    //   display: block;
    // }

    @include mq(tablet-wide, max) {
      font-size: size-rem(35);
    }
    @include mq(phone-mid, max) {
      font-size: size-rem(25);
    }

    &:before {
      @include pseudo();
      width: 0;
      height: size-rem(1);
      margin: auto;
      transition: all $duration-fast;
      opacity: 0;
      background-color: #308dfe;
      bottom: 0;
      left: 0; right: 0;
    }
  }
}

.header-left {
  @include set-flex();
}

.hamburger {
  // width: 70px;
  // height: auto;
  // margin-right: 4%;
  // padding: 4px;
  // position: absolute;
  // top: 0;
  // right: 15px;

  // fill:#3da8d9;
  pointer-events:all; //needs to be there so the hover works
  background-color: rgba(0, 0, 0, 0);
  border: none;
  padding: 0.5em 0.5em 0 0.5em;
  &:focus:not(:focus-visible) {
    outline: 0;
  }
  svg {
    width: 35px;
    @include mq(phone-wide, max) {
      width: 30px;
    }
    line {
      stroke: #3da8d9;
      stroke-width: 16;
      stroke-linecap: round;
      opacity: 1;
      
      &:first-of-type,
      &:last-of-type {
        transform: rotate(0);
        transition: transform 0.2s ease-in;
      }
      
      &:nth-of-type(2) {
        transition: opacity 0.3s ease-out;
      }
      
      &:first-of-type {
        transform-origin: 10px 35px;
      }
      
      &:last-of-type {
        transform-origin: 10px 85px;
      }
    }
    
  }

// .bar {
//     -webkit-transform:rotate(0) translateY(0) translateX(0);
//     transform:rotate(0) translateY(0) translateX(0);
//     opacity:1;
//     -webkit-transform-origin: 20px 10px;
//     transform-origin: 20px 10px;
//     -webkit-transition: -webkit-transform 0.4s ease-in-out, opacity 0.2s ease-in-out;
//     transition: transform 0.4s ease-in-out, opacity 0.2s ease-in-out;
//     }
  
//   .bar:nth-of-type(1) {
//     -webkit-transform-origin: 20px 10px;
//     transform-origin: 20px 10px;
//   }
  
//   .bar:nth-of-type(3) {
//     -webkit-transform-origin: 20px 20px;
//     transform-origin: 20px 20px;
//   }
}