/*==================================================*\
        Lightbox
\*==================================================*/

.lightbox {
  @include full-popup(rgba(0, 0, 0, 0.78));
  overflow-y: auto;
  opacity: 0;
  z-index: 9999;
  padding-top: 2vh;

  @include mq(tablet-wide, max) {
    padding-top: 8vh;
  }

  @include mq(tablet-mid, max) {
    padding-top: 12vh;
  }

  svg { 
    path {
      fill: #FFFFFF;
    }
  }
}



.lb-container {
  max-width: 90%;
  margin: auto;
  opacity: 0;
  z-index: 0;
  position: absolute;
  // top: 0; bottom: 0;
  // left: 0; right: 0;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  @media screen and (max-width:723px) { 
    position: relative;
    top: 0; bottom: 0;
    left: 0; right: 0;
    transform: none;
  }
}



#_prompt{
  .lb-content {
    width: auto;
    max-width: auto;
  }
}

// Lightbox Content
.lb-content {
  width: 900px;
  max-width: 900px;
  background: url('../images/bg_lb_board_02.png') no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  padding: 10px 20px;
  @include mq(tablet-mid, max) {
    width: 650px;
  }
  @media screen and (max-width:723px) { 
    width: 100%;
  }
  &:before, &:after{
    @include pseudo();
    width: 100%;
    left: 0;
  }
  &:before{
    height: 33px;
    background: url('../images/bg_lb_board_01.png') no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    top:-33px;
  }
  &:after{
    height: 28px;
    background: url('../images/bg_lb_board_03.png') no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    bottom: -28px;
  }
  .parrot{
    // width: 15vw;
    max-width: 263px;
    position: absolute;
    top: -100px;
    left: -50px;
  }
  @include mq(tablet-mid, max) {
    .parrot{
      max-width: 180px;
      top: -70px;
      left: -30px;
    }
  }
  .inside{
    width: 95%;
    margin: 0 auto;
    // background-color: #fffdf5;
    // border-radius: 5px;
    // padding: 1.5vh 2vw;
    // min-height: 62vh;
    text-align: center;
    position: relative;
    // box-shadow: 0px 2px 2px 5px rgba(0, 0, 0, 0.2);
    @include mq(phablet, max) {
      width: 100%;
    }
    .whiteBg{
      min-height: 52vh;
      padding: 1.5vh 2vw;
      background-color: #fffdf5;
      border-radius: 5px;
      margin-bottom: 3vh;
      box-shadow: 0px 2px 2px 5px rgba(0, 0, 0, 0.2);
    }
    .lb_title{
      width: 100%;
      color: #333333;
      font-size: 36px;
      font-weight: 800;
      padding-bottom: 5px;
      margin-bottom: 2vh;
      border-bottom: 1px solid #dfdfdf;
      @include mq(tablet, max) {
        font-size: 32px;
      }
    }
    form{
      padding: 10px 0;
    }
  }
  p{
    width: 100%;
    display: inline-block;
    word-wrap: break-word;
    // @include mq(phablet, max) {
    //   margin-left: -10px;
    // }
  }
}

// Button: Close Lightbox
.lb-close-btn {
  @extend %mod_close-btn;
  @include wh(60px);
  position: absolute;
  top: -55px;
  right: -15px;
  background-color: #1eb4ff;
  border-radius: 100%;
  z-index: 9999;

  &:before,
  &:after {
    width: 80%;
    height: 6px;
    left: 10%;
    border-radius: 100px;
    background-color: #FFFFFF;
  }

  /* 可於 _extends.scss 選擇欲 extend 之 hover樣式 */
  @extend %close-btn-hover-1;
}

.lb-loading {
  @include wh(47px);
  margin: auto;
  z-index: 0;
  position: fixed;
  top: 0; bottom: 0;
  left: 0; right: 0;
}