/*==================================================*\
        Index Page Style
\*==================================================*/

.index-page {

  .btn_news{
    width: 88px;
    display: block;
    position: fixed;
    top: 220px;
    right: 0;
    z-index: 99;
    margin-right: 0;
    transition: all $duration-std;
    @include mq(tablet-small, max) {
      width: 65px;
      top: 250px;
      margin-right: 0;
    }
  }

  main {
    background: #0074c1; /* Old browsers */
    background: -moz-linear-gradient(top, #0074c1 3%, #59bde2 47%, #90d3ec 73%, #b7e6f8 94%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #0074c1 3%,#59bde2 47%,#90d3ec 73%,#b7e6f8 94%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #0074c1 3%,#59bde2 47%,#90d3ec 73%,#b7e6f8 94%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0074c1', endColorstr='#b7e6f8',GradientType=0 ); /* IE6-9 */
    overflow: hidden;
    
    > .container {
      // height: 100%;
      // @include set-flex();
      position: relative;
    }

    .deco_img{
      position: absolute;
      z-index: -1;
    }
    .deco_imgA{
      right: 0;
      top: 50%;
    }
    .deco_imgB{
      left: 10%;
      top:30%;
    }
    .deco_imgC{
      right: 0%;
      top:40%;
    }
    .deco_imgD{
      left: 0%;
      top:0%;
    }

    section{
      overflow: visible;
      &.secA{
        text-align: center;
        margin-top: -7%;
        img{
          width: 45%;
          max-width: 394px;
          margin: 0 auto 20px auto;
        }
        p{
          color: #FFF;
          font-size: size-rem(24);
          font-weight: 700;
          line-height: 1.8em;
        }
        @include mq(tablet-wide, max) {
          padding: 0 20px;
        }
        @include mq(tablet-small, max) {
          margin-top: -16%;
          img{
            width: 75%;
          }
          p{
            font-size: size-rem(18);
            line-height: 1.5em;
          }
        }
      }

      &.secB{
        margin: 3em 0 0 0;
        .videoWrapper {
          width: 100%;
          position: relative;
          padding-bottom: 52%; 
          padding-top: 25px;
          height: 0;
          border-right: 20px solid rgba(0, 0, 0, .15);
          border-left: 20px solid rgba(0, 0, 0, .15);
          &:before {
            content: "";
            position: absolute;
            width: calc(100% + 40px);
            height: 0;
            border-left: 20px solid transparent;
            border-right: 20px solid transparent;
            border-bottom: 20px solid rgba(0, 0, 0, .15);
            top: -20px;
            left: -20px;
          }
          &:after {
            content: "";
            position: absolute;
            width: calc(100% + 40px);
            height: 0;
            border-left: 20px solid transparent;
            border-right: 20px solid transparent;
            border-top: 20px solid rgba(0, 0, 0, .15);
            bottom: -20px;
            left: -20px;
          }
          @include mq(tablet-wide, max) {
            border: none;
            &:before {
              display: none;
            }
            &:after {
              display: none;
            }
          }
      
          iframe{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
          }
        }
      }
      &.secC{
        margin: 6em 0 0 0;
        background: url('../images/index/index_bg_bottom.png') no-repeat;
        background-position: center bottom;
        padding-bottom: 5em;
    
        .container{
          max-width: 1400px;
          @include set-flex(center, space-between);
        }

        .btn_challenge{
          max-width: 535px;
          margin: 40px auto 0 auto;
          position: relative;
          bottom: initial; left: initial;
          transition: none;
        }
        @include mq(tablet-mid, max) {
          margin: 0;
          background: #0074c1; /* Old browsers */
          background: -moz-linear-gradient(top, #0074c1 3%, #45afdc 94%); /* FF3.6-15 */
          background: -webkit-linear-gradient(top, #0074c1 3%, #45afdc 94%); /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to bottom, #0074c1 3%,#45afdc 94%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0074c1', endColorstr='#45afdc',GradientType=0 ); /* IE6-9 */
          .container{
            display: block;
          }
        }
        @include mq(tablet-small,max){
          padding-bottom: 0;
          .btn_challenge{
            max-width: 100%;
            margin: 0 auto;
            position: fixed;
            bottom: 0; left: 0;
            transition: none;
            &:hover{
              transform: none;
            }
          }
        }

        .circleBox{
          width: 30%;
          position: relative;
          height: 0;
          padding: 15% 0;
          border-radius: 50%;
          background-color: rgba(255,255,255,0.75);
          .circleCont{
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            // height: 100%;
            text-align: center;
            transform: translateY(-50%);
            margin-top: -10px;         
            // &:before{
            //   content: '';
            //   vertical-align: middle;
            //   display: inline-block;
            //   width: 0;
            //   height: 100%;
            // }
            picture, p{
              display: inline-block;
            }
            picture{
              width: 28%;
              max-width: 125px;
            }
            p{
              width: 100%;
              padding: 0 8%;
              margin-top: 2%;
              font-size: size-rem(20);
              line-height: 1.5em;
              font-weight: 600;
              color: #333333;
              span{
                font-size: 0.9vw;
                line-height: 1;
              }
            }
          }
          @include mq(notebook, max) {
            .circleCont{
              picture{
                width: 20%;
              }
              p{
                padding: 0 10%;
                font-size: size-rem(17);
              }
            }
          }
          @include mq(tablet-mid, max) {
            width: 100%;
            height: auto;
            padding: 0;
            border-radius: 0;
            background-color: transparent;
            
            &:first-child{
              &:before, &:after{
                @include pseudo();
                width: 100%;
                height: 100%;
                top: 0; 
              }
              &:before{     
                left: 0;
                background: url('../images/index/index_box1_before.png') no-repeat;
                background-size: contain;
                background-position: left top;
              }
              &:after{
                right: 0;
                background: url('../images/index/index_box1_after.png') no-repeat;
                background-size: contain;
                background-position: right bottom;
              }
            }
            &:last-child{
              &:before, &:after{
                @include pseudo();
                width: 100%;
                height: 100%;
                top: 0; 
              }
              &:before{     
                left: 0;
                background: url('../images/index/index_box2_before.png') no-repeat;
                background-size: contain;
                background-position: left top;
              }
              &:after{
                right: 0;
                background: url('../images/index/index_box2_after.png') no-repeat;
                background-size: contain;
                background-position: right bottom;
              }
            }
            &:nth-child(2){
              background-color: rgba(255,255,255,0.15);
            }
            .circleCont{
              position: relative;
              top: initial;
              left: initial;
              width: 100%;
              padding: 10% 2.5%;
              transform: none;
              margin-top: 0;
              picture{
                width: 40%;
                max-width: 267px;
              }
              p{
                color: #FFF;
                font-size: size-rem(20);
                padding: 0 5%;
                span{
                  font-size: size-rem(17);
                  color: #054ca3;
                }
              }
            }
          }
        }
      }

    }


  }

}

