/*==================================================*\
        Cast Page Style
\*==================================================*/

.cast-page {

    main {
        position: relative;
        width: 100%;
        overflow: hidden;
        padding-top: 65px;
        background: #f7f7f7;

        @include mq(tablet-wide, max) {
            padding-top: 40px;
        }

        section {
            &.topTitle{
                padding: 70px 20px;
                h3 {
                    position: relative;
                    font-size: 50px;
                    font-weight: 550;
                    color: #046192;
                    text-align: center;
                    margin-bottom: 50px;
                    line-height: 1;
    
                    @include mq(tablet-wide, max) {
                        font-size: 10vw;
                    }
    
                    &:after {
                        @include pseudo();
                        bottom: -25px;
                        left: 50%;
                        transform: translateX(-50%);
                        width: 20px;
                        height: 3px;
                        background-color: #046192;
                    }
                }
    
                p {
                    max-width: 950px;
                    margin: 0 auto;
                    font-size: 18px;
                    text-align: center;
                    line-height: 1.8em;
                    color: #202020;
                }
            }

            &.castWrapSection{
                .castBlock{
                    position: relative;
                    @include set-flex(stretch, center);
                    flex-direction: row;

                    .castPhoto{
                        width: 50%;
                        color: #FFF;
                        // background: #202020;
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-position: center center;
                        padding-bottom: 25%;
                    }

                    .castInfo{
                        width: 50%;
                        position: relative;
                        @include set-flex(center, center);
                        flex-direction: column;

                        > *{
                            position: relative;
                            z-index: 2;
                        }

                        &:before, &:after{
                            @include pseudo();
                            width: 100%;
                            height: 100%;
                            z-index: 0;
                        }

                        .castName{
                            font-size: 50px;
                            text-align: center;
                            
                        }
                        .castTitle{
                            font-size: 30px;
                            text-align: center;
                            position: relative;
                            margin-bottom: 30px;
                            
                            // &:after{
                            //     @include pseudo();
                            //     bottom: -20px; left: 50%;
                            //     transform: translateX(-50%);
                            //     width: 20px;
                            //     height: 3px;
                            //     background: #FFF;
                            // }
                        }
                        .castDetail{
                            width: 100%;
                            font-size: 18px;
                            padding: 0 2%;
                            text-align: justify;
                        }

                        @include mq(notebook, max) {
                            .castName{
                                font-size: 2.5vw;
                            }
                            .castTitle{
                                font-size: 1.5vw;
                                margin-bottom: 2.2vw;
                                &:after{
                                    bottom: -0.8vw;
                                }
                            }
                            .castDetail{
                                font-size: 15px;
                                padding: 0;
                            }
                        }

                        @include mq(tablet-wide, max) {
                            padding: 20px 0 40px 0;

                            .castName{
                                font-size: 8vw;
                            }
                            .castTitle{
                                font-size: 5.6vw;
                                margin-bottom: 55px;
                                &:after{
                                    bottom: -25px;
                                }
                            }
                            .castDetail{
                                font-size: 18px;
                                padding: 0 25px;
                            }
                        }
                    }
                    
                    &:nth-child(odd){
                        flex-direction: row;
                        .castInfo{
                            color: #FFF;
                            background: #046192;
                            padding-right: 4%;
                            &:before{
                                @include pseudo();
                                transform: skewX(18deg);
                                background: #046192;
                                left: -12%; top: 0;
                            }

                            @include mq(tablet-wide, max) {
                                padding-right: 0;
                                &:before{
                                    transform: skewY(-5deg);
                                    left: 0; top: -5vw;
                                }
                            }
                        }
                    }
                    
                    &:nth-child(even){
                        flex-direction: row-reverse;
                        .castInfo{
                            background: #ffffff;
                            padding-left: 4%;
                            &:after{
                                @include pseudo();
                                transform: skewX(18deg);
                                background: #ffffff;
                                right: -12%; top: 0;
                            }
                            .castName, .castTitle{
                                color: #046192;
                            }

                            @include mq(tablet-wide, max) {
                                padding-left: 0;
                                &:after{
                                    transform: skewY(-5deg);
                                    right: 0; top: -5vw;
                                }
                            }
                        }
                    }
                    
                    @include mq(tablet-wide, max) {
                        @include set-flex(center, center);
                        flex-direction: column !important;
                        .castPhoto{
                            width: 100%;
                            padding-bottom: 78%;
                        }
    
                        .castInfo{
                            width: 100%;
                        }
                    }
    
                }
            }



        }

        >.container {
            position: relative;
        }

    }

}