.is--show{
    display: block;
}
.is--hide{
	display: none;	
}
.is--absolute{
	position: absolute!important;
}
.is--fixed{
	position: fixed!important;	
}
.is--relative{
	position: relative;
}
.is--height{
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: fixed;
}
.is--rotate{
	-webkit-transform: rotate(-360deg) !important;
    -moz-transform: rotate(-360deg) !important;
    -ms-transform: rotate(-360deg) !important;
    transform: rotate(-360deg) !important;
}
.is--z100 {
  z-index: 100;
}
.is--z50 {
  z-index: 50!important;
}
.is--fff {
  background-color: #fff;
}
.wrapperzero{
  &.is--zeroheight{
    display: none;
  }
}