/*==================================================*\
        Page Footer
\*==================================================*/

.page-footer {
  width: 100%;
  // position: fixed;
  // z-index: 10;
  // bottom: 0; left: 0;
  background-color: #000;

  .container{
    max-width: 960px;
    padding: 10px 40px;
  }
  
  p {
    width: 100%;
    padding: 10px 5px;
    display: inline-block;
    color: $c-white;
    font-size: size-rem(14);
    line-height: 1.4em;
    text-align: center;
    white-space: normal;
    word-break: break-word;
    @include mq(phone-wide, max) {
      font-size: size-rem(10);
      padding: 4px;
      line-height: 1em;
    }
    @include mq(phone-mini, max) {
      font-size: size-rem(8);
      padding: 4px;
    }
  }
}