/*==================================================*\
        Page Footer
\*==================================================*/

.page-footer {
  width: 100%;
  position: relative;
  color: #FFF;
  background-color: transparent;
  text-align: center;
  margin: 6vw auto 3vw auto;
  padding-bottom: 60px;
  z-index: 10;
  line-height: 1.5em;
  @include mq(tablet) {
    margin: 5vw auto 0 auto;
    padding-bottom: 40px;
  }
}