/*==================================================*\
        Page Footer
\*==================================================*/

.page-footer {
  width: 100%;
  position: relative;
  color: #FFF;
  background-color: transparent;
  text-align: center;
  margin: 5vw auto 30px auto;
  z-index: 10;
  line-height: 1.5em;
}