/*==================================================*\
        Loading
\*==================================================*/

.loading {
  width: 100%;
  height: 100%;
  background: $colorWhite;
  z-index: 9999;
  position: fixed;

  > div {
    width: 60px;
    height: 60px;
    margin-top: -30px;
    margin-left: -30px;
    position: absolute;
    left: 50%; top: 50%;

    > div {
      content: '';
      width: 16px;
      height: 16px;
      transform-origin: 20px 20px;
      border-radius: 8px;
      animation: spin-a 2s infinite cubic-bezier(0.5, 0, 0.5, 1);
      background: $colorPrimary;
      position: absolute;
      top: 10px; left: 10px;

      &.c2 {
        transform-origin: -4px 20px;
        animation: spin-b 2s infinite cubic-bezier(0.5, 0, 0.5, 1);
        top: 10px;
        left: auto; right: 10px;
      }
      &.c3 {
        transform-origin: -4px -4px;
        animation: spin-c 2s infinite cubic-bezier(0.5, 0, 0.5, 1);
        top: auto; bottom: 10px;
        left: auto; right: 10px;
      }
      &.c4 {
        transform-origin: 20px -4px;
        animation: spin-d 2s infinite cubic-bezier(0.5, 0, 0.5, 1);
        top: auto; bottom: 10px;
      }
    }
  }

  > span {
    width: 100px;
    height: 30px;
    margin-top: 50px;
    margin-left: -50px;
    color: $colorPrimary;
    font-size: 16px;
    text-align: center;
    position: absolute;
    top: 50%; left: 50%;
  }
}

@keyframes spin-a {
  0%   { transform: rotate(90deg); }
  0%  { transform: rotate(90deg); }
  50%  { transform: rotate(180deg); }
  75%  { transform: rotate(270deg); }
  100% { transform: rotate(360deg); }
}
@keyframes spin-b {
  0%   { transform: rotate(90deg); }
  25%  { transform: rotate(90deg); }
  25%  { transform: rotate(180deg); }
  75%  { transform: rotate(270deg); }
  100% { transform: rotate(360deg); }
}
@keyframes spin-c {
  0%   { transform: rotate(90deg); }
  25%  { transform: rotate(90deg); }
  50%  { transform: rotate(180deg); }
  50%  { transform: rotate(270deg); }
  100% { transform: rotate(360deg); }
}
@keyframes spin-d {
  0%   { transform: rotate(90deg); }
  25%  { transform: rotate(90deg); }
  50%  { transform: rotate(180deg); }
  75%  { transform: rotate(270deg); }
  75% { transform: rotate(360deg); }
  100% { transform: rotate(360deg); }
}
