/*==================================================*\
        Header
\*==================================================*/

/*header*/
.pageHeader {
  width: 100%;
  transform: translate(0, 0);
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;

  &:before {
    @include pseudo();
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: $colorBlack;
    top: 0;
    left: 0;
  }

  .container {
    height: $headerH;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mq(phablet) {
      height: $headerPhabletH;
    }

    @include mq(tablet) {
      height: $headerTabletH;
    }
  }

  p {
    user-select: none;
  }
  .menu {
    .menuLine {
      display: none;
      height: 1.0625rem;
      width: 1px;
      background-color: #c6c6c6;
      margin-right: 0;
      margin-bottom: 1.1rem;
      position: relative;
      left: -2rem;
  
      @include mq(tablet) {
        display: block;
      }
  
      &::before {
        display: none;
      }
    }
  }
}

body.enPage {
  .menu {
    .menuLine {
      display: none;
      height: 1.0625rem;
      width: 1px;
      background-color: #c6c6c6;
      margin-bottom: 1.1rem;
      position: relative;
      left: -2rem;
      @include mq(tablet) {
        display: block;
      }
    }
  }
}



/***** Main Logo *****/
// .logo {
//   width: 42px;
//   position: relative;

//   @include mq(phablet) {
//     width: 52px;
//   }

//   @include mq(tablet) {
//     width: 62px;
//     margin-left: -$containerPadding;
//   }
.logo {
  width: 76px;
  position: relative;

  @include mq(phablet) {
    width: 96px;
  }

  @include mq(tablet) {
    width: 106px;
    margin-left: -$containerPadding;
  }
}


/***** Hamburger *****/
.hamburger {
  width: 45px;
  height: 50%;

  &,
  >div {
    transform: translate(0, 0);
  }

  >div {
    width: 100%;
    height: 3px;
    margin: auto;
    transition: all $stdDuration;
    position: absolute;
    right: 0;

    &:before,
    &:after {
      @include pseudo();
      width: 100%;
      height: 100%;
      transition: all $stdDuration;
      border-radius: 100px;
      background-color: $colorWhite;
    }

    &:before {
      opacity: 0;
    }

    // 個別調整
    &:first-child {
      top: 0;
    }

    &:nth-child(2) {
      top: 0;
      bottom: 0;
    }

    &:last-child {
      width: 70%;
      bottom: 0;
    }
  }

  &.selected {
    div {

      // 個別調整
      &:first-child {
        top: 125%;
      }

      &:nth-child(2) {
        &:before {
          opacity: 1;
          transform: rotate(135deg);
        }

        &:after {
          transform: rotate(-135deg);
        }
      }

      &:last-child {
        bottom: 125%;
      }

      &:first-child,
      &:last-child {
        opacity: 0;
      }
    }
  }

  @include mq(phablet) {
    width: 55px;

    >div {
      height: 4px;
    }
  }

  @include mq(tablet) {
    display: none;
  }
}



// /***** Menu *****/
.menu {
  width: 66%;
  height: calc(100vh - #{$headerH});
  transition: all $stdDuration;
  overflow-y: scroll;
  overflow-x: hidden;
  // iPhone 滑動不順的時候可以使用
  -webkit-overflow-scrolling: touch;
  background-color: rgba(#dfdfdf, 0.97);
  position: fixed;
  top: $headerH;
  right: -70%;

  &.isOpen {
    right: 0;
  }

  @include mq(phablet) {
    height: calc(100vh - #{$headerPhabletH});
    top: $headerPhabletH;
  }

  @include mq(tablet) {
    width: auto;
    height: 100%;
    overflow: visible;
    display: flex;
    align-items: flex-end;
    background-color: transparent;
    position: static;
    top: auto;
    right: auto;
  }

  // Menu 項目
  >* {
    height: auto;
    position: relative;

    // 目前頁面
    &.selected {
      >p {
        color: $colorPrimary;
      }

      &:before {
        width: 100%;
        opacity: 1;
      }

      @include mq(tablet) {
        >p {
          color: $colorWhite;
        }
      }
    }

    >p {
      line-height: 4;
      display: inline-block;
      vertical-align: middle;
      width: 100%;

      &,
      &+.subMenu > a, &+.subMenu > div {
        padding-left: 10%;
        z-index: 1;
        position: relative;

        // 底部線條
        &:before,
        &:after {
          @include pseudo();
          width: 100%;
          left: 0;
        }

        // 白底
        &:before {
          // height: 3px;
          // background-color: #f6f6f6;
          // bottom: 0;
          height: 100%;
          width: 0;
          display: inline-block;
          vertical-align: middle;
          position: relative;
        }

        // 深灰底
        &:after {
          width: 100%;
          height: 1px;
          border-top: 1px solid #fff;
          border-bottom: 1px solid #939393;
          // background-color: #939393;
          bottom: 1px;
        }
      }

      &+.subMenu a {
        padding-left: 15%;
      }
    }



    @include mq(tablet) {
      &:not(:last-child) {
        margin-right: size(70);
      }

      /* .menu 只有兩個項目時候使用 */
      // &:nth-child(3) {
      //   margin-right: 0;
      // }

      /*END .menu 只有兩個項目時候使用 END*/

      &:after {
        content: none;
      }

      &:before {
        @include pseudo();
        width: 0;
        height: size(4);
        margin: auto;
        opacity: 0;
        transition: all $stdDuration;
        background-color: $colorPrimary;
        bottom: 0;
        left: 0;
        right: 0;
      }

      >p {
        color: #c6c6c6;
        line-height: 3.1;

        &,
        &+.subMenu a {
          padding-left: 0;

          // 底部線條
          &:before,
          &:after {
            content: none;
          }
        }
      }

      // Menu 項目 Hover
      &:hover {
        &:before {
          width: 100%;
          opacity: 1;
        }

        >p {
          color: $colorWhite;
        }

        // .subMenu {
        //   pointer-events: auto;
        //   transition-delay: 0s;
        //   top: 100%;

        //   &:before {
        //     top: $headerTabletH;
        //     transition-delay: 0s;
        //   }
        // }
      }
    }
  }

  // Menu 項目 END

  // .menu 內，所有的文字
  p {
    transition: all $stdDuration;
    letter-spacing: 2px;
  }
}
.en{
  display: none;
}
@include mq(tablet) {
  body {
    .menu {
      >.leng {
        // display: none;
        color: #050505;

        &:first-child {
          border-left: 1px solid #fff;
        }

        &:not(:last-child) {
          margin-right: 0.75rem;
        }

        p {
          line-height: 3.1;
        }
      }

      .en {
        display: none;
      }
    }

    &.enPage {
      .menu {
        .menuAct {
          display: none;
        }

        .leng {
          display: flex;
        }

        .menuLine {
          display: block;
          height: 1.0625rem;
          width: 1px;
          background-color: #c6c6c6;
          margin-bottom: 1.1rem;
          position: relative;
          left: -2rem;
        }

        .en {
          display: block;
        }

        .chi {
          display: none;
        }
      }
    }
  }
}

// // 子項目
.subMenu {
  // height: 0;
  // overflow: hidden;
  pointer-events: none;
  pointer-events: auto;
  transition: all $stdDuration;
  // ---------hover-------------
  &.hoverSubMenuIn{
    pointer-events: auto;
    top: 100%;
    &:before {
      top: $headerTabletH;
    }
  }
  // ---------hover-----END------

  &.isOpen {
    pointer-events: auto;
  }

  >a, >div {
    height: 16vw;

    &.selected {
      >p {
        color: $colorPrimary;
      }
    }
  }

  p {
    width: 95%;
    display: inline-block;
    vertical-align: middle;
    transition: none;
    color: $colorBlack;
    line-height: 1.1;
  }

  @include mq(tablet) {
    width: 100vw;
    height: auto;
    pointer-events: none;
    // display: flex;
    z-index: -2;
    text-align: right;
    position: absolute;
    font-size: 0;
    top: 0;
    // right: -12%;
    right: 0;
    &.tnf100subMenu{
      width: 73rem;
      right: -29rem;
    }

    // 白色底
    &:before {
      @include pseudo();
      width: 100%;
      height: $subMenuOverlayH;

      transition: all $stdDuration;
      background-color: rgba(#dfdfdf, 0.8);
      z-index: -1;
      position: fixed;
      top: 40px;
      left: 0;
    }

    >a, >div {
      position: relative;
      height: auto;
      background-color: transparent;
      display: inline-block;

      &.hide {
        display: none;
      }

      &:not(:last-child) {
        // margin-right: size(40);
        padding: 0;
        >p{
          padding: 0 size(20);
        }
      }

      &:hover {
        >p {
          color: $colorPrimary;
        }
        .subsub{
          transition: all $stdDuration;
          opacity: 1;
          pointer-events: auto;
        }
      }
    }

    p {
      line-height: 3.55;
      width: auto;
    }
  }
}

// 子項目的子項目
.subMenu>.subsubTitle{
  height: auto;
  >p{
    position: relative;
    padding: 5.2vw 0;
    &::after{
      content: '';
      display: block;
      position: absolute;
      left: -50vw;
      bottom: 0;
      width: 200vw;
      border-top: 1px solid #fff;
      border-bottom: 1px solid #939393;
    }
  }
}
.subsub{
  a{
    position: relative;
    display: block;
    height: 16vw;
    &:not(:last-child){
      &::after{
        content: '';
        display: block;
        position: absolute;
        left: -50vw;
        bottom: 0;
        width: 200vw;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #939393;
      }
    }
    p{
      padding: 5.2vw 0;
      position: relative;
      vertical-align: middle;
      display: inline-block;
    }
  }
}
@include mq(tablet){
  .menu>*>p+.subMenu>div{
    padding-left: 0;
  }
  .subMenu>.subsubTitle{
    height: auto;
    >p{
      position: relative;
      padding: 0;
      &::after{
        display: none;
      }
    }
    &::after, &::before{
      display: none !important;
    }
  }
  &.enPage{
    .subsub{
      width: 10rem;
    }
  }
  .subsub{
    pointer-events: none;
    width: 8rem;
    position: absolute;
    top: 100%;
    right: 0rem;
    left: 0;
    margin: auto;
    opacity: 0;
    &.l-2{
      left: -1.8rem;
    }
    a{
      height: auto;
      text-align: center;
      background-color: rgba(223, 223, 223, 0.8);
      display: block;
      width: 100%;
      box-sizing: content-box;
      &:not(:last-child){
        margin-bottom: 1px;
      }
      &::after{
        display: none;
      }
      &:hover{
        >p{
          color: #e72418;
        }
      }
      p{
        padding: 0;
      }
    }
    p{
      position: relative;
      vertical-align: middle;
      display: inline-block;
    }
    &::after{
      display: none;
    }
  }
}



// /***** .subMenu 個別調整 *****/
@include mq(tablet) {

  // 關於TNF100
  /*.subMenu*/
  .aboutTNF {
    left: -144px;
  }

  // 活動快訊
  /*.subMenu*/
  .activitiesNews {
    // left: -258px;  /* 項目全開的時候使用 */
    // left: -57px;  /* 只有一個項目的時候使用 */
  }
}