/*==================================================*\
        Page Header
\*==================================================*/

.page-header {
  width: 100%;
  z-index: 1;
  position: fixed;
  top: 0; left: 0;

  &.menuOpen {
    .hamburger {
      $tbRemoveOffset: 30px;
      .top,
      .bottom {
        opacity: 0;
      }
      .top {
        top: $tbRemoveOffset;
      }
      .bottom {
        bottom: $tbRemoveOffset;
      }
      
      .middle {
        &:before {
          transform: rotate(135deg);
        }
        &:after {
          transform: rotate(-135deg);
        }
      }
    }
  }
}

.header-top {
  background-color: $c-white;

  &:after {
    @include pseudo($pos:static);
    width: 100%;
    height: 5px;
    background-color: $c-primary;
    @include mq(tablet) {
      content: none;
    }
  }

  .container {
    padding: 15px 0;
    @include set-flex(center, space-between);

    @include mq(tablet) {
      padding: 25px 0;
    }
  }

  img {
    width: 100%;
  }
}

.main-logo {
  width: 200px;
  @include mq(tablet) {
    width: 260px;
  }
}

.sub-logo {
  width: 84px;
  display: none;
  @include mq(tablet) {
    width: 110px;
    display: block;
  }
}


.header-nav {
  background-color: $c-grayBG;
  @include mq(tablet) {
    background-color: $c-primary;
  }

  > .container {
    @include mq(tablet, max) {
      width: 100%;
    }
  }
  
  ul {
    display: none;
    overflow: hidden;
    @include mq(tablet) {
      @include set-flex(center, space-between);
    }
  }

  li {
    transition: all $duration-fast;
    display: flex;
    align-self: stretch;
    @include mq(tablet) {
      padding: 0 5px;
    }
    @include mq(tablet-wide) {
      padding: 0 10px;
    }
    @media only screen and (max-width: 767px) {
      display: block;
    }
    
    &:not(:last-of-type) {
      border-bottom: 1px solid $c-white;
      @include mq(tablet) {
        border-bottom: 0;
      }
    }

    &.active {
      border-bottom-color: $c-grayBG;

      p {
        &:before {
          width: 100%;
          opacity: 1;
        }
      }
    }
  }

  a {
    display: flex;
    align-self: stretch;
    @include mq(tablet) {
      &:hover {
        p {
          &:before {
            width: 100%;
            opacity: 1;
          }
        }
      }
    }
    @media only screen and (max-width: 767px) {
      display: block;
    }
  }
  
  p {
    display: flex;
    align-items: center;
    color: $c-primary;
    font-size: size-rem(18);
    font-weight: bold;
    // line-height: 2.93;
    text-align: center;
    position: relative;
    line-height: 1.2em;
    padding: 15px 0;
    @include mq(tablet) {
      color: $c-white;
      font-size: size-rem(15);
    }
    @media only screen and (max-width: 767px) {
      display: block;
    }

    &:before {
      @include pseudo();
      width: 0;
      height: size-rem(4);
      margin: auto;
      transition: all $duration-fast;
      opacity: 0;
      background-color: $c-hint;
      bottom: 0;
      left: 0; right: 0;
    }
  }
}

.header-left {
  @include set-flex();
}

.hamburger {
  width: 28px;
  height: 24px;
  // margin-right: 4%;
  padding: 4px;
  position: relative;

  > div {
    width: 100%;
    height: 4px;
    margin: auto;
    opacity: 1;
    transition: all $duration-fast;
    border-radius: 100px;
    background-color: $c-primary;
    position: absolute;
    left: 0; right: 0;
  }

  .top {
    top: 0;
  }

  .middle {
    transform: translate(0, 0);
    background-color: transparent;
    top: 0; bottom: 0;

    &:before,
    &:after {
      @include pseudo();
      @include wh(100%);
      transition: inherit;
      border-radius: inherit;
      background-color: $c-primary;
      top: 0; bottom: 0;
      left: 0; right: 0;
    }
  }

  .bottom {
    bottom: 0;
  }

  @include mq(tablet) {
    display: none;
  }
}