@import '../helpers/mixin';
@import '../helpers/variables';

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

body {
	line-height: 1.5;
	font-family: $fontDefault, sans-serif;
	font-size: 16px;
	background-color: #f3f6f7;
	overflow-x: hidden;
}

* {
	box-sizing: border-box;
	border: 0;
	outline: 0;
	@include transition(0.4s);
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

a:link,
a:active,
a:visited,
a:hover {
	color: inherit;
	text-decoration: none;
}

.loading {
	width: 100vw;
	height: 100vh;
	position: fixed;
	z-index: 99999;
	background-color: rgba(0, 85, 150, 0.98);

	.spinner {
		position: fixed;
		@include wh(65px, 65px) left: calc((100% - 65px) / 2);
		top: calc((100% - 65px) / 2);
		border: 4px solid #a8a8a8;
		border-top: 4px solid white;
		border-radius: 50%;

		-webkit-transition-property: -webkit-transform;
		-webkit-transition-duration: 1.2s;
		-webkit-animation-name: rotate;
		-webkit-animation-iteration-count: infinite;
		-webkit-animation-timing-function: linear;

		-moz-transition-property: -moz-transform;
		-moz-animation-name: rotate;
		-moz-animation-duration: 1.2s;
		-moz-animation-iteration-count: infinite;
		-moz-animation-timing-function: linear;

		transition-property: transform;
		animation-name: rotate;
		animation-duration: 1.2s;
		animation-iteration-count: infinite;
		animation-timing-function: linear;
	}
}

@-webkit-keyframes rotate {
	from {
		-webkit-transform: rotate(0deg);
	}

	to {
		-webkit-transform: rotate(360deg);
	}
}

@-moz-keyframes rotate {
	from {
		-moz-transform: rotate(0deg);
	}

	to {
		-moz-transform: rotate(360deg);
	}
}

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}


// img{
//     @include wh(100%, auto);
// }

// i{
// 	font-style: normal;
// 	.icon:before{
// 		font-family: "FontAwesome";
// 		color: inherit;
// 		font-size: inherit;
// 		speak: none;
// 	}
// }
// a:hover i:before{ color: inherit;}
.wrapper {
	@include wh(100%, auto);
	max-width: 1140px;
	// min-height:100%;
	margin: 0 auto;
	position: relative;
	// padding: 0 1.5em;
	padding: 0;
	z-index: 0;
}

#fullpage {
	width: 100%;
	position: relative;
	overflow-x: hidden;
}

section {
	position: relative;
	color: black;
	// min-height: 50px;
	text-align: center;
	@include wh(100%, auto);

	// z-index: 9998;
	.isAnimated {
		opacity: 0;
	}
	@include breakpoint(mobile) {
		// padding: 40px 0;
		.isAnimated.noAniM {
			opacity: 1;
		}
	}

}

.clear {
	@include clearfix;
}

.prevBtn,
.nextBtn {
	font-size: 100px;
	line-height: 0;
	color: white;
	position: absolute;
	top: 50%;
	display: block;
	padding: 0;
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
	cursor: pointer;
	z-index: 999;
}

.prevBtn {
	left: 0;
}

.nextBtn {
	right: 0;
}

#secB {

	.prevBtn,
	.nextBtn {
		&:hover {
			color: #b06c45;
		}

		i {
			text-shadow: 5px 5px 0px #bfa742;
		}
	}
}

#secD {

	.prevBtn,
	.nextBtn {
		&:hover {
			color: #ffcd38;
		}

		i {
			text-shadow: 5px 5px 0px #1973b2;
		}
	}
}

#secA {

	.prevBtn,
	.nextBtn {
		&:hover {
			color: #ffcd38;
		}

		i {
			text-shadow: 5px 5px 0px rgb(194, 194, 194);
		}
	}
}

#secG {

	.prevBtn,
	.nextBtn {
		color: #e7e7e7;

		&:hover {
			color: #ffcd38;
		}

		i {
			text-shadow: 5px 5px 0px rgb(194, 194, 194);
		}
	}
}

/*Text setting*/
.textSmaller {
	font-size: smaller;
	font-weight: normal;
}

.textOrange {
	color: #e36000;
}

.showDT {
	display: block;

	@include breakpoint(mobile) {
		display: none;
	}
}

.showM {
	display: none;

	@include breakpoint(mobile) {
		display: block;
	}
}

/*confetti animte*/
@keyframes confetti-slow {
	0% {
		transform: translate3d(0, 0, 0) rotateX(0) rotateY(0);
	}

	100% {
		transform: translate3d(25px, 105vh, 0) rotateX(360deg) rotateY(180deg);
	}
}

@keyframes confetti-medium {
	0% {
		transform: translate3d(0, 0, 0) rotateX(0) rotateY(0);
	}

	100% {
		transform: translate3d(100px, 105vh, 0) rotateX(100deg) rotateY(360deg);
	}
}

@keyframes confetti-fast {
	0% {
		transform: translate3d(0, 0, 0) rotateX(0) rotateY(0);
	}

	100% {
		transform: translate3d(-50px, 105vh, 0) rotateX(10deg) rotateY(250deg);
	}
}

.confetti-container {
	perspective: 700px;
	position: absolute;
	overflow: hidden;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.confetti {
	position: absolute;
	z-index: 1;
	top: -10px;
	border-radius: 0%;

	&--animation-slow {
		animation: confetti-slow 4.25s linear 1 forwards;
	}

	&--animation-medium {
		animation: confetti-medium 3.75s linear 1 forwards;
	}

	&--animation-fast {
		animation: confetti-fast 3.25s linear 1 forwards;
	}
}

.st0{fill:none;stroke:#999999;stroke-dasharray: 500;}
.st1{fill:none;stroke:#f3f6f7;stroke-width:2;stroke-dasharray: 10;}
.slick-disabled {
    display: none !important;
}