/*==================================================*\
        Index Page Style
\*==================================================*/

.index-page {}

/*========== Section-1 ==========*/
.sec-1 {
  padding-bottom: size-rem(30);
  @include mq(tablet-wide) {
    padding-bottom: size-rem(40);
  }

  picture {
    margin-top: -11.1%;
    display: block;
    @include mq(tablet) {
      margin-top: -8.7%;
    }
    @include mq(tablet-wide) {
      margin-top: -7.6%;
      padding: 0 size-rem(60);
    }
  }
}

/*========== Section-6 ==========*/
.sec-6 {
  .sec-topic {
    border-bottom: 0;
    display: block;

    &:before {
      content: none;
    }

    p {
      color: $c-black;
    }
  }

  .content {
    padding: 0 !important;
  }
}