header {
  width: 100%;
  height: auto;
  display: block;
  position: fixed;
  top: 0;
  padding: 20px 0;
  vertical-align: middle;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(8, 48, 78, 0.8)), to(rgba(8, 48, 78, 0)));
  background: linear-gradient(to bottom, rgba(8, 48, 78, 0.8), rgba(8, 48, 78, 0));
  z-index: 9999;
}

header.bgFullcolor {
  background: #002f7b !important;
}

header .logoWrapper,
header nav {
  display: inline-block;
}

header .logoWrapper {
  width: 240px;
  height: auto;
}

header .logoWrapper img {
  width: 100%;
  height: auto;
}

header nav {
  position: absolute;
  top: 15px;
  right: 0;
  color: white;
  font-size: 18px;
}

header nav ul li {
  display: inline-block;
  color: white;
  padding: 2px 8px;
  font-weight: 700;
  text-shadow: #0f446b 2px 1px 2px;
}

header nav ul li a:link {
  color: white;
}

header nav ul li a:link.active {
  color: #f6aa00;
}

header nav ul li a:hover {
  color: #f6aa00;
}

header nav ul li.active {
  color: #f6aa00;
  border-bottom: 1px solid #f6aa00;
}

header nav ul li.active a:link {
  color: #f6aa00;
}

header nav ul li a.icon {
  display: inline-block;
  width: 16px;
  height: auto;
  margin-left: 8px;
}

header nav ul li a.icon img {
  width: 100%;
  height: auto;
}

#btnGoTop {
  position: fixed;
  right: 2%;
  bottom: 1%;
  max-width: 90px;
  z-index: 9998;
  cursor: pointer;
}

#btnGoTop img {
  width: 100%;
  height: auto;
}

section span.remark {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 50%;
  font-size: 14px;
  color: #7a7a7a;
  padding: 0 .8em;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

section span.remark02 {
  width: 100%;
  display: inline-block;
  position: relative;
  margin: 1.5em 0 2em 0;
  padding: 0 .8em;
  font-size: 14px;
  color: #7a7a7a;
}

section .secTopic {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  max-width: 350px;
  z-index: 1;
}

section .secTopic02 {
  width: 100%;
  position: absolute;
  top: 30px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  border-bottom: 1px solid #005596;
}

section .secTopic02 img {
  margin: 0 auto;
}

section .secTopic02 span.topRadius {
  display: inline-block;
  background: #005596;
  color: white;
  font-size: 30px;
  font-weight: 700;
  padding: .4em 1em;
  border-radius: 20px 20px 0 0;
}

section .secTopic03 {
  width: 100%;
  position: relative;
  text-align: left;
  font-size: 36px;
  color: #223049;
  font-weight: 800;
}

section#secTop {
  padding-top: 0;
  background: url("../images/kv.jpg") no-repeat;
  background-size: cover;
  z-index: 9998;
}

section#secTop h1.slogan {
  text-align: left;
  color: white;
  font-size: 48px;
  font-weight: 800;
  line-height: 1.2em;
  text-shadow: #0f446b 2px 1px 5px;
}

section#secTop h1.slogan hr {
  border: 0;
  height: 1px;
  background: #FFF;
  width: 100%;
  position: absolute;
  top: 48%;
  left: -46%;
  margin: 0;
}

section#secTop h1.slogan span {
  display: inline-block;
  margin: 20px 0;
}

section#secTop .scrollDown {
  position: absolute;
  bottom: 8%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

section#secTop .scrollDown span {
  color: white;
  font-size: 18px;
  font-weight: 200;
  text-shadow: #0f446b 2px 1px 5px;
}

section#secTop .scrollDown i {
  display: block;
  color: white;
  font-size: 60px;
  text-shadow: #0f446b 2px 1px 5px;
}

section#secA {
  padding-top: 12em;
}

section#secA .wrapper {
  height: 750px;
}

section#secA .wrapper .dash {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

section#secA .wrapper .dash svg {
  width: 100%;
  height: auto;
}

section#secA .wrapper .sec01_mainBlock {
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

section#secA .wrapper .sec01_mainBlock:after {
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: -2;
  content: '';
  width: 425px;
  height: 425px;
  background-color: white;
  border-radius: 100%;
}

section#secA .wrapper .sec01_mainBlock .dash .st0 {
  stroke-dasharray: 600;
  stroke-dashoffset: 600;
}

section#secA .wrapper .sec01_mainBlock .dash .st0.aniDashA {
  -webkit-animation: dash2 2s linear forwards;
          animation: dash2 2s linear forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  stroke-dasharray: 600;
  stroke-dashoffset: 600;
}

section#secA .wrapper .sec01_mainBlock .dash .st0.aniDashB {
  -webkit-animation: dash2 2s linear forwards;
          animation: dash2 2s linear forwards;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  stroke-dasharray: 600;
  stroke-dashoffset: 600;
}

section#secA .wrapper .sec01_mainBlock .dash .st0.aniDashC {
  -webkit-animation: dash2 2s linear forwards;
          animation: dash2 2s linear forwards;
  -webkit-animation-delay: 5.5s;
          animation-delay: 5.5s;
  stroke-dasharray: 600;
  stroke-dashoffset: 600;
}

section#secA .wrapper .sec01_mainBlock .dashlineA {
  width: 340px;
  margin-left: -215px;
  margin-top: -105px;
}

section#secA .wrapper .sec01_mainBlock .dashlineB {
  width: 350px;
  margin-top: -250px;
  margin-left: 235px;
}

section#secA .wrapper .sec01_mainBlock .dashlineC {
  width: 300px;
  margin-left: 274px;
  margin-top: -88px;
}

section#secA .wrapper .sec01_mainBlock .imgWrapper {
  width: 425px;
  height: 425px;
  margin: 0 auto;
  position: relative;
}

section#secA .wrapper .sec01_mainBlock .imgWrapper img {
  width: 365px;
  height: 396px;
}

section#secA .wrapper .sec01_mainBlock p {
  width: 100%;
  height: auto;
  max-width: 740px;
  position: relative;
  margin: 0 auto;
  margin-top: 30px;
  font-size: 21px;
  color: #545454;
  font-weight: 600;
}

section#secA .wrapper .sec01_mainBlock p span.highlighter {
  padding: 0 3px 0 3px;
  position: relative;
  display: inline-block;
}

section#secA .wrapper .sec01_mainBlock p span.highlighter:after {
  content: '';
  position: absolute;
  top: 11px;
  left: 0;
  height: 0px;
  width: 100%;
  background: transparent;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  height: 8px;
  background: rgba(240, 255, 0, 0.25);
  z-index: 0;
}

section#secA .wrapper .sec01_block {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

section#secA .wrapper .sec01_block .imgWrapper {
  width: 200px;
  height: auto;
}

section#secA .wrapper .sec01_block .imgWrapper img {
  width: 100%;
  height: auto;
}

section#secA .wrapper .sec01_block.sec01_blockA {
  max-width: 285px;
  margin-left: -380px;
  margin-top: -164px;
}

section#secA .wrapper .sec01_block.sec01_blockB {
  width: 345px;
  margin-left: 320px;
  margin-top: -337px;
  padding-top: 120px;
}

section#secA .wrapper .sec01_block.sec01_blockB .imgWrapper {
  position: absolute;
  top: 0;
  right: 0;
}

section#secA .wrapper .sec01_block.sec01_blockB .title {
  float: left;
}

section#secA .wrapper .sec01_block.sec01_blockC {
  width: 345px;
  margin-left: 388px;
  margin-top: -32px;
  padding-top: 130px;
}

section#secA .wrapper .sec01_block.sec01_blockC .imgWrapper {
  position: absolute;
  top: 0;
  right: 0;
}

section#secA .wrapper .sec01_block.sec01_blockC .title {
  float: left;
}

section#secA .wrapper .sec01_block .title,
section#secA .wrapper .sec01_block p.text {
  text-align: left;
  color: #545454;
}

section#secA .wrapper .sec01_block .title {
  margin-bottom: 5px;
}

section#secA .wrapper .sec01_block .title h3 {
  font-size: 28px;
  font-weight: 700;
}

section#secA .wrapper .sec01_block .title h4 {
  font-size: 22px;
  font-weight: 700;
  color: #005596;
}

section#secA .wrapper .sec01_block p.text {
  font-size: 16px;
  font-weight: 500;
  float: none;
  clear: both;
}

section#secB h2, section#secC h2 {
  font-size: 36px;
  color: #d32929;
  font-weight: 700;
}

section#secB p, section#secC p {
  font-size: 21px;
  color: #434240;
  font-weight: 600;
  padding: 10px 30px;
  max-width: 780px;
  margin: 0 auto;
}

section#secB {
  background: #ffcd38;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffcd38), color-stop(75%, #ffc423), color-stop(75%, #ffdb7a), to(#ffd65c));
  background: linear-gradient(to bottom, #ffcd38 0%, #ffc423 75%, #ffdb7a 75%, #ffd65c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffcd38', endColorstr='#ffd65c', GradientType=0);
}

section#secB .wrapper {
  padding-top: 12em;
}

section#secB .wrapper .slick-dots {
  bottom: 0;
}

section#secB .wrapper .slick-dots li.slick-active button:before {
  color: #d32929;
}

section#secB .wrapper .canvasWrapper {
  position: relative;
  padding-bottom: 46%;
  overflow: hidden;
}

section#secB .wrapper .canvasWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

section#secB .wrapper span.remark02 {
  margin: 0 0 2em 0;
}

section#secC {
  padding: 3em 0;
}

section#secC p {
  max-width: 100%;
}

section#secC .dashline {
  position: absolute;
  z-index: 1;
  background-image: linear-gradient(to right, #d32929 4px, transparent 4px);
  background-repeat: repeat-x;
  background-size: 8px 2px;
  width: 100%;
  height: 4px;
  bottom: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin-bottom: 1.5%;
}

section#secC .wrapper .imgWrapper {
  max-width: 70px;
  margin: 0 auto;
}

section#secC .wrapper em {
  font-size: 26px;
  color: white;
  background-color: #ff6464;
  border-radius: 40px;
  padding: .2em .8em;
  font-weight: 600;
  display: inline-block;
  margin-top: 15px;
}

section#secC .wrapper .sec03_mainBlock {
  width: 100%;
  height: auto;
  position: relative;
  padding-bottom: 37%;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain;
  margin: 2em 0 0 0;
}

section#secC .wrapper .sec03_mainBlock span {
  color: #0078d4;
  font-size: 22px;
  display: inline-block;
  margin-top: 30px;
}

section#secC .wrapper .sec03_mainBlock .sec03_block {
  position: absolute;
}

section#secC .wrapper .sec03_mainBlock .sec03_block img {
  width: 100%;
  height: auto;
}

section#secC .wrapper .sec03_mainBlock .sec03_block.sec03_blockA {
  top: 0;
  left: 55px;
}

section#secC .wrapper .sec03_mainBlock .sec03_block.sec03_blockB {
  bottom: 20%;
  left: 25%;
}

section#secC .wrapper .sec03_mainBlock .sec03_block.sec03_blockC {
  top: 15%;
  right: 0;
}

section#secD {
  padding: 16em 0 6em 0;
}

section#secD .wrapper .slick-dots {
  bottom: -65px;
}

section#secD .wrapper .slick-slide {
  -webkit-transform: scale(0.75);
  transform: scale(0.75);
}

section#secD .wrapper .slick-center {
  -webkit-transform: scale(0.95);
  transform: scale(0.95);
}

section#secD .wrapper #secDslider {
  width: 100%;
  position: relative;
}

section#secD .wrapper #secDslider a.item {
  border-radius: 6px;
  background: white;
  margin: 0 -30px;
  -webkit-box-shadow: 10px 10px 0px #116cb2;
          box-shadow: 10px 10px 0px #116cb2;
}

section#secD .wrapper #secDslider a.item .imgWrapper {
  width: 100%;
  position: relative;
  display: block;
  border-radius: 6px 6px 0 0;
}

section#secD .wrapper #secDslider a.item .imgWrapper img {
  width: 100%;
  height: auto;
  border-radius: 6px 6px 0 0;
}

section#secD .wrapper #secDslider a.item p {
  width: 100%;
  display: block;
  color: #363636;
  font-size: 24px;
  padding: 1em;
}

section#secD .wrapper #secDslider:before, section#secD .wrapper #secDslider:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 100px;
  top: 0;
  height: 100%;
  pointer-events: none;
  /*makes the linkes behind clickable.*/
}

section#secD .wrapper #secDslider:before {
  left: 0;
  background: -webkit-gradient(linear, left top, right top, from(#1883d5), to(rgba(24, 131, 213, 0)));
  background: linear-gradient(to right, #1883d5, rgba(24, 131, 213, 0));
}

section#secD .wrapper #secDslider:after {
  right: 0;
  background: -webkit-gradient(linear, right top, left top, from(#1883d5), to(rgba(24, 131, 213, 0)));
  background: linear-gradient(to left, #1883d5, rgba(24, 131, 213, 0));
}

section#secE .wrapper {
  padding: 15em 0 0 0;
}

section#secE .wrapper .imgWrapper {
  width: 100%;
}

section#secE .wrapper .imgWrapper img {
  width: 100%;
  height: auto;
}

section#secF {
  padding: 7em 0 3em 0;
}

section#secF .wrapper {
  min-height: 600px;
}

section#secF .wrapper .sec06_block {
  width: 455px;
  height: 455px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

section#secF .wrapper .sec06_blockB,
section#secF .wrapper .sec06_blockC {
  background: white;
  border-radius: 100%;
  padding: 5em;
}

section#secF .wrapper .sec06_blockB img,
section#secF .wrapper .sec06_blockC img {
  margin-bottom: 15px;
}

section#secF .wrapper .sec06_blockB p,
section#secF .wrapper .sec06_blockC p {
  color: #434240;
  font-size: 20px;
  text-align: left;
}

section#secF .wrapper .sec06_blockA {
  z-index: 99;
  margin: 0 auto;
}

section#secF .wrapper .sec06_blockA img {
  width: 100%;
  height: auto;
}

section#secF .wrapper .sec06_blockB {
  margin-left: -34%;
}

section#secF .wrapper .sec06_blockC {
  margin-left: 34%;
}

section#secG .wrapper {
  padding: 8em 0 0 0;
}

section#secG .wrapper span.remark02 {
  text-align: left;
}

section#secG .wrapper #secGslider {
  max-width: 1140px;
  margin: 30px auto;
  width: 100%;
}

section#secG .wrapper #secGslider .column {
  display: inline-block;
  vertical-align: top;
  width: 30.3%;
  margin-right: 1.5%;
  color: #434240;
  font-weight: 600;
}

section#secG .wrapper #secGslider .column:last-child() {
  margin-right: 0;
}

section#secG .wrapper #secGslider .column .boxTop {
  color: white;
  font-size: 25px;
  padding: 12px 20px;
}

section#secG .wrapper #secGslider .column .boxTop img {
  display: block;
  margin: 0 auto;
  max-width: 45px;
  height: 45px;
}

section#secG .wrapper #secGslider .column .boxBtm {
  padding: 1.8em;
  font-size: 20px;
  min-height: 263px;
  background: white;
}

section#secG .wrapper #secGslider .column .boxBtm ul {
  display: block;
  text-align: left;
}

section#secG .wrapper #secGslider .column .boxBtm ul li {
  position: relative;
  line-height: 1.2em;
  min-height: 40px;
  padding-left: 60px;
  background: url("../images/icon_checkframe.svg") no-repeat;
  background-position: left center;
  background-size: 40px auto;
  margin-bottom: 15px;
}

section#secG .wrapper #secGslider .column .boxBtm ul li:last-child {
  margin-bottom: 0;
}

section#secG .wrapper #secGslider .column .boxBtm ul li img {
  width: 45px;
  height: auto;
  position: absolute;
  left: 8px;
}

section#secG .wrapper #secGslider .column.boxWrapperA .boxTop {
  background: #3eb134;
}

section#secG .wrapper #secGslider .column.boxWrapperB .boxTop {
  background: #f28f00;
}

section#secG .wrapper #secGslider .column.boxWrapperC .boxTop {
  background: #14a3de;
}

section#secH .wrapper {
  padding: 12em 5em 2em 5em;
}

section#secH .wrapper .barWrapper {
  width: 100%;
  position: relative;
  margin-bottom: 2.5em;
}

section#secH .wrapper .barWrapper .barHead {
  position: absolute;
  top: -8px;
  left: 0;
  width: 26%;
  color: white;
  font-size: 25px;
  text-align: left;
  padding: 1.2em 1.5em;
  line-height: 1.2em;
  z-index: 9;
}

section#secH .wrapper .barWrapper .barHead:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border-top: 120px solid #e85820;
  border-right: 45px solid transparent;
  height: 0;
  width: 100%;
  z-index: -1;
}

section#secH .wrapper .barWrapper .barHead h6 {
  font-weight: 700;
}

section#secH .wrapper .barWrapper .barHead span {
  font-size: smaller;
  font-weight: 500;
}

section#secH .wrapper .barWrapper .barBody {
  background: white;
  position: relative;
  width: 100%;
  height: 107px;
  padding: 1em 15% 1em 32%;
  border-radius: 50px;
}

section#secH .wrapper .barWrapper .barBody p {
  max-width: 420px;
  text-align: left;
  font-size: 24px;
  color: #454545;
  font-weight: 600;
}

section#secH .wrapper .barWrapper .barBody .iconDollar {
  position: absolute;
  top: 8px;
  right: 15px;
  width: 90px;
}

section#secH .wrapper .barWrapper .barBody .iconDollar img {
  width: 100%;
  height: auto;
}

section#secH .wrapper .barB .barHead:after {
  border-top: 120px solid #ee921a;
}

section#secH .wrapper .barC .barHead:after {
  border-top: 120px solid #efc313;
}

section#secI .wrapper {
  padding: 9em .5em 2em .5em;
}

section#secI .wrapper p {
  font-size: 20px;
  color: #434240;
  line-height: 1.4em;
  font-weight: 600;
  padding-bottom: 20px;
}

section#secI .wrapper p:last-child {
  max-width: 750px;
  margin: 0 auto;
}

section#secI .wrapper h2 {
  max-width: 950px;
  font-size: 27px;
  color: #005596;
  font-weight: 600;
  text-align: left;
  margin: 25px auto 0 auto;
}

section#secI .wrapper #chartWrapperA {
  width: 100%;
  max-width: 1024px;
  height: 500px;
  margin: 15px auto 50px auto;
  position: relative;
  display: block;
  font-size: 26px;
  font-weight: 600;
}

section#secI .wrapper #chartWrapperA #numbers {
  width: 5%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: inline-block;
}

section#secI .wrapper #chartWrapperA #numbers li {
  text-align: right;
  padding-right: 1%;
  list-style: none;
  height: 121px;
  position: relative;
  bottom: 2px;
}

section#secI .wrapper #chartWrapperA #numbers li span {
  color: #1b1b1b;
}

section#secI .wrapper #chartWrapperA #bars {
  display: inline-block;
  position: relative;
  background: #e0e0e0;
  width: 90%;
  height: 500px;
  padding: 0;
  margin: 0;
}

section#secI .wrapper #chartWrapperA #bars li {
  display: inline-block;
  width: 8.3%;
  height: 500px;
  position: relative;
  z-index: 1;
}

section#secI .wrapper #chartWrapperA #bars li .bar {
  display: block;
  width: 100%;
  position: absolute;
  bottom: 0;
}

section#secI .wrapper #chartWrapperA #bars li span {
  color: #1b1b1b;
  width: 100%;
  position: absolute;
  bottom: -1.7em;
  left: -20%;
}

section#secI .wrapper #chartWrapperA #bars li span:before {
  content: '';
  display: inline-block;
  width: 100%;
  height: 10px;
  border-left: 1px solid black;
  position: absolute;
  top: -15px;
  left: 41%;
}

section#secI .wrapper #chartWrapperA #bars li.chartBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

section#secI .wrapper #chartWrapperA #bars li.chartBg div {
  width: 100%;
  height: 12.5%;
  display: block;
  border-bottom: 1px solid white;
  font-size: 18px;
  color: #1b1b1b;
  text-align: center;
  padding-top: 2%;
}

section#secI .wrapper #chartWrapperA #bars li.chartBg div:last-child {
  border-bottom: none;
}

section#secI .wrapper .path {
  fill: none;
  stroke: #2364B2;
  stroke-width: 5;
  stroke-linecap: round;
  stroke-linejoin: round;
}

section#secI .wrapper .downarrow {
  fill: #E85820;
  width: 100%;
}

section#secI .wrapper #chartWrapperA #contline {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}

section#secI .wrapper #chartWrapperA #contline #chartline {
  width: 100%;
  height: 100%;
  position: relative;
}

section#secI .wrapper #chartWrapperA #contline #chartline svg {
  width: 87%;
  margin: 5% 0 0 5%;
}

section#secI .wrapper .path {
  width: 100%;
  opacity: 0;
}

section#secI .wrapper .path.aniA {
  -webkit-animation: dash 3s ease-in forwards;
          animation: dash 3s ease-in forwards;
  stroke-dasharray: 1500;
  stroke-dashoffset: 1500;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  opacity: 0;
}

section#secI .wrapper .downarrow {
  position: absolute;
  opacity: 0;
}

section#secI .wrapper .downarrow.aniB {
  -webkit-animation: move 2s ease-in forwards;
          animation: move 2s ease-in forwards;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  opacity: 0;
}

section#secI .wrapper #chartWrapperB {
  width: 100%;
  max-width: 1024px;
  height: 500px;
  margin: 15px auto 50px auto;
  display: block;
  font-size: 24px;
  font-weight: 600;
}

section#secI .wrapper #chartWrapperB ul#numbers {
  width: 5%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: inline-block;
}

section#secI .wrapper #chartWrapperB ul#numbers li {
  text-align: right;
  list-style: none;
  height: 62px;
  position: relative;
  bottom: -18px;
}

section#secI .wrapper #chartWrapperB ul#numbers li span {
  color: #1b1b1b;
  position: absolute;
  bottom: 0;
  right: 10px;
}

section#secI .wrapper #chartWrapperB ul#bars {
  display: inline-block;
  position: relative;
  background: #e0e0e0;
  width: 90%;
  height: 500px;
  padding: 0;
  margin: 0;
}

section#secI .wrapper #chartWrapperB ul#bars li {
  display: inline-block;
  width: 8%;
  height: 500px;
  margin-left: 5%;
  text-align: center;
  position: relative;
  z-index: 1;
}

section#secI .wrapper #chartWrapperB ul#bars li:nth-child(even) {
  margin-left: -5px;
  margin-right: 3%;
}

section#secI .wrapper #chartWrapperB ul#bars li .bar {
  display: block;
  width: 100%;
  background: #2364b2;
  position: absolute;
  bottom: 0;
}

section#secI .wrapper #chartWrapperB ul#bars li:nth-child(even) .bar {
  background: #e85820;
}

section#secI .wrapper #chartWrapperB ul#bars li .bar:before {
  color: #2364b2;
  content: attr(data-percentage) "%";
  position: relative;
  bottom: 32px;
  font-size: 22px;
}

section#secI .wrapper #chartWrapperB ul#bars li:nth-child(even) .bar:before {
  color: #e85820;
}

section#secI .wrapper #chartWrapperB ul#bars li span {
  color: #1b1b1b;
  width: 200%;
  position: absolute;
  bottom: -1.5em;
  left: 0;
  text-align: center;
}

section#secI .wrapper #chartWrapperB ul#bars li span:before {
  content: '';
  display: inline-block;
  width: 100%;
  height: 15px;
  border-left: 1px solid black;
  position: absolute;
  top: -4px;
  left: -27%;
}

section#secI .wrapper #chartWrapperB ul#bars li.chartBg {
  position: absolute;
  top: 0;
  left: -5%;
  width: 100%;
  height: 100%;
  z-index: 0;
}

section#secI .wrapper #chartWrapperB ul#bars li.chartBg > div {
  width: 100%;
  height: 12.5%;
  display: block;
  padding-top: 1.4%;
  border-bottom: 1px solid white;
  vertical-align: middle;
}

section#secI .wrapper #chartWrapperB ul#bars li.chartBg > div:last-child {
  border-bottom: none;
}

section#secI .wrapper #chartWrapperB ul#bars li.chartBg > div .colorBox {
  display: inline-block;
  vertical-align: middle;
  width: 25px;
  height: 25px;
}

section#secI .wrapper #chartWrapperB ul#bars li.chartBg > div .colorBox.colorA {
  background: #2364b2;
}

section#secI .wrapper #chartWrapperB ul#bars li.chartBg > div .colorBox.colorB {
  background: #e85820;
}

section#secI .wrapper #chartWrapperB ul#bars li.chartBg > div em {
  display: inline-block;
  vertical-align: middle;
  color: #1b1b1b;
  font-size: 21px;
  margin-left: 5px;
}

section#secJ .container {
  width: 100%;
  position: relative;
  max-width: 1065px;
  margin: 0 auto;
  padding: 0 0 5em 0;
}

section#secJ .container .wrapper:last-child {
  padding: 0 .5em;
}

section#secJ .container .wrapper .showDT {
  width: 100%;
  height: auto;
  position: relative;
  padding-bottom: 100%;
}

section#secJ .container .wrapper .showDT div {
  position: absolute;
  top: 0;
}

section#secJ .container .wrapper .showDT div img {
  width: 100%;
  height: auto;
}

section#secJ .container .wrapper .showDT .process01 {
  width: 41.5%;
}

section#secJ .container .wrapper .showDT .process02 {
  width: 31.8%;
  left: 42.2%;
  z-index: 11;
}

section#secJ .container .wrapper .showDT .process03 {
  width: 29%;
  right: -0.2%;
  z-index: 10;
}

section#secJ .container .wrapper .showDT .process04 {
  width: 24%;
  top: 20.4%;
  right: -1.8%;
  z-index: 9;
}

section#secJ .container .wrapper .showDT .process05 {
  width: 32%;
  top: 35.5%;
  right: 14.2%;
  z-index: 8;
}

section#secJ .container .wrapper .showDT .process06 {
  width: 32.9%;
  top: 36%;
  right: 43.4%;
  z-index: 7;
}

section#secJ .container .wrapper .showDT .process07 {
  width: 28.8%;
  top: 36%;
  left: -2.5%;
  z-index: 6;
}

section#secJ .container .wrapper .showDT .process08 {
  width: 24%;
  top: 56%;
  left: -4%;
  z-index: 5;
}

section#secJ .container .wrapper .showDT .process09 {
  width: 32%;
  top: 71.5%;
  left: 11.7%;
  z-index: 4;
}

section#secJ .container .wrapper .showDT .process10 {
  width: 33.3%;
  top: 71.8%;
  left: 41%;
  z-index: 3;
}

section#secJ .container .wrapper .showDT .process11 {
  width: 28%;
  top: 71.8%;
  right: 0.4%;
  z-index: 2;
}

section#secJ .container .wrapper .showM {
  width: 100%;
  height: auto;
  position: relative;
  padding-bottom: 181%;
}

section#secJ .container .wrapper .showM div {
  position: absolute;
  top: 0;
}

section#secJ .container .wrapper .showM div img {
  width: 100%;
  height: auto;
}

section#secJ .container .wrapper .showM .process01 {
  width: 56.5%;
}

section#secJ .container .wrapper .showM .process02 {
  width: 40.2%;
  right: 2%;
  z-index: 11;
}

section#secJ .container .wrapper .showM .process03 {
  width: 32%;
  top: 15.5%;
  right: 0.8%;
  z-index: 10;
}

section#secJ .container .wrapper .showM .process04 {
  width: 45%;
  top: 27%;
  right: 21%;
  z-index: 9;
}

section#secJ .container .wrapper .showM .process05 {
  width: 39%;
  top: 27.4%;
  left: -0.5%;
  z-index: 8;
}

section#secJ .container .wrapper .showM .process06 {
  width: 31%;
  top: 42.6%;
  left: -1%;
  z-index: 7;
}

section#secJ .container .wrapper .showM .process07 {
  width: 46%;
  top: 53.8%;
  left: 19%;
  z-index: 6;
}

section#secJ .container .wrapper .showM .process08 {
  width: 41%;
  top: 54%;
  right: -1.8%;
  z-index: 5;
}

section#secJ .container .wrapper .showM .process09 {
  width: 31%;
  top: 70.2%;
  right: -0.5%;
  z-index: 4;
}

section#secJ .container .wrapper .showM .process10 {
  width: 45%;
  top: 81.2%;
  right: 19.5%;
  z-index: 3;
}

section#secJ .container .wrapper .showM .process11 {
  width: 39.8%;
  top: 81.5%;
  left: -0.6%;
  z-index: 2;
}

section#secJ .container .btnWrapper {
  width: 100%;
  display: block;
  margin: 0 auto 5em auto;
}

section#secJ .container .btnWrapper a.btnDownload {
  position: relative;
  display: inline-block;
  max-width: 300px;
  padding: .8em 2.4em;
  margin: 0 25px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 600;
  color: white;
  background: #f1960b;
}

section#secJ .container .btnWrapper a.btnDownload:hover {
  background: #dd8600;
}

section#secJ .container .btnWrapper a.btnDownload img {
  width: 55px;
  position: absolute;
  bottom: -8px;
  left: -10px;
}

section#secJ .container .finishedBlock {
  width: 100%;
  height: auto;
  position: relative;
  color: #909090;
  background: #e0e0e0;
  padding: 2em 4em;
  margin-bottom: 40px;
  border-radius: 10px;
}

section#secJ .container .finishedBlock p {
  font-size: 28px;
  font-weight: 500;
  text-align: left;
}

section#secJ .container .finishedBlock .stamp {
  width: 25%;
  position: absolute;
  top: -15px;
  right: -20px;
  opacity: 0;
  -webkit-transform: scale(2);
          transform: scale(2);
}

section#secJ .container .finishedBlock .stamp img {
  width: 100%;
  height: auto;
}

section#secK .wrapper {
  padding: 12em 0 6em 0;
}

section#secK .wrapper ul.qaBlock {
  margin-bottom: 20px;
}

section#secK .wrapper ul.qaBlock > * {
  -webkit-transition: none;
  transition: none;
}

section#secK .wrapper ul.qaBlock li {
  clear: both;
  display: inline-block;
  width: 100%;
  height: auto;
}

section#secK .wrapper ul.qaBlock li .photoIcon {
  display: inline-block;
  vertical-align: top;
  width: 80px;
  height: 80px;
}

section#secK .wrapper ul.qaBlock li .photoIcon img {
  width: 100%;
  height: auto;
}

section#secK .wrapper ul.qaBlock li .talkBubble {
  position: relative;
  display: inline-block;
  width: calc(100% - 180px);
  max-width: 720px;
  height: auto;
  padding: 1em 1.5em;
  margin-top: 10px;
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 1px 0px #cfcdcf;
  box-shadow: 0px 2px 1px 0px #cfcdcf;
}

section#secK .wrapper ul.qaBlock li .talkBubble p.talkTxt {
  font-size: 24px;
  color: #000;
  line-height: 1.5em;
  font-weight: 700;
  text-align: left;
}

section#secK .wrapper ul.qaBlock li .iconCollapse {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  width: 45px;
  height: 45px;
  color: #f1960b;
  background-color: white;
  font-size: 45px;
  font-weight: 100;
  border-radius: 100%;
  line-height: 28px;
  padding: 4px;
  margin-left: 10px;
}

section#secK .wrapper ul.qaBlock li.service {
  text-align: right;
  display: none;
}

section#secK .wrapper ul.qaBlock li.service .talkBubble {
  max-width: 850px;
  margin-right: 10px;
  border-radius: 30px 0 30px 30px;
  background-color: #d2f975;
}

section#secK .wrapper ul.qaBlock li.service .talkBubble:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  right: -10px;
  left: auto;
  top: 0;
  bottom: auto;
  border: 10px solid;
  border-color: #d2f975 transparent transparent transparent;
}

section#secK .wrapper ul.qaBlock li.service .talkBubble p.talkTxt {
  font-size: 16px;
  color: #545454;
  font-weight: normal;
}

section#secK .wrapper ul.qaBlock li.customer {
  cursor: pointer;
  text-align: left;
}

section#secK .wrapper ul.qaBlock li.customer .talkBubble {
  margin-left: 10px;
  border-radius: 0 30px 30px 30px;
}

section#secK .wrapper ul.qaBlock li.customer .talkBubble:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  left: -10px;
  right: auto;
  top: 0;
  bottom: auto;
  border: 10px solid;
  border-color: #fff transparent transparent transparent;
}

section#secK .wrapper ul.qaBlock:nth-child(1) li.service {
  display: block;
}

section#secL {
  text-align: left;
  border-top: 5px solid #002f7b;
}

section#secL .wrapper {
  padding: 4em 0 4em 0;
}

section#secL .wrapper p {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.6em;
  color: #4b4b4b;
  text-align: justify;
}

section#secL .wrapper p:first-child {
  color: #2364b2;
  text-align: center;
  margin-bottom: 20px;
}
/*# sourceMappingURL=style.css.map */