/*==================================================*\
        Page Footer
\*==================================================*/

.page-footer {
  width: 100%;
  position: relative;
  color: #FFF;
  background-color: #141414;
  text-align: center;
  padding: 8px;
  z-index: 10;
  font-size: 10px;
  line-height: 1.3em;
}