/*==================================================*\
        Page Header
\*==================================================*/

.page-header {
  width: 100%;
  z-index: 999;
  position: relative;
  @include set-flex(center, space-between);
  padding: 12px 15px 8px 15px;
  background: #FFF;
  a{
    width: 26%;
    max-width: 184px;
    display: block;
    // &:first-child{
    //   float: left;
    // }
    // &:last-child{
    //   float: right;
    // }
    img{
      width: 100%;
      // display: inline-block;
      // vertical-align: middle;
    }
  }
  // &::after{
  //   content: '';
  //   width: 100%;
  //   position: relative;
  //   display: block;
  //   float: none;
  //   clear: both;
  // }
}

