@import '../helpers/mixin';
@import '../helpers/variables';

header {
    @include wh(100%, auto);
    display: block;
    position: fixed;
    top: 0;
    padding: 0;
    vertical-align: middle;
    background: transparent;
    z-index: 9999;

    &:after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background: #002f7b;
        top: 0;
        left: 0;
        z-index: -1;
    }

    .wrapper {
        max-width: 100%;
    }

    &.bgFullcolor {
        // background: #002f7b !important;
    }

    .logoWrapper,
    nav {
        display: inline-block;
    }

    .logoWrapper {
        width: 100%;
        padding: 1em;
        background: #002f7b;

        a {
            display: block;
            @include wh(180px, auto);

            img {
                @include wh(100%, auto);
            }
        }
    }

    nav {
        position: relative;
        background: #FFF;
        color: #3b3b3b;
        font-size: 18px;
        width: 100%;
        text-align: center;

        ul {
            display: inline-block;
            text-align: center;
            padding: .5em 0;

            li {
                display: inline-block;
                color: #3b3b3b;
                padding: 5px 5px;
                font-weight: 700;
                cursor: pointer;
                text-shadow: none;

                a:link {
                    color: #3b3b3b;

                    &.active {
                        color: #f6aa00;
                    }
                }

                a:hover {
                    color: #f6aa00;
                }

                &.active {
                    color: #f6aa00;

                    // border-bottom: 1px solid #f6aa00;
                    a:link {
                        color: #f6aa00;
                        // text-shadow: none;
                    }
                }

                a.icon {
                    display: inline-block;
                    width: 18px;
                    height: auto;
                    margin-left: 15px;

                    &:first-child {
                        width: 17px;
                    }

                    img {
                        @include wh(100%, auto);
                    }
                }
            }
        }
    }
}

// .nav {
//     position: fixed;
//     top: 0;
//     z-index: 9;
//     @include wh(100%, 60px);
//     font-family: $fontDefault, sans-serif;
//     color: color(grayA);
//     -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
//     -moz-transition: opacity 0.5s, -moz-transform 0.5s;
//     -o-transition: opacity 0.5s, -o-transform 0.5s;
//     transition: opacity 0.5s, transform 0.5s;
//     a {
//         color: color(grayA);
//     }
// }

// .hamber{
//     position: fixed;
//     z-index: 9999;
//     top: 20px;
//     right: 25px;
//     cursor: pointer;
//     z-index: 99;
//     display: none;
//     @include breakpoint(hd) {
//         display: block;
//     }
//     .shape{
//         position: relative;
//         float: left;
//         @include wh(20px, 20px);
//         span{
//             background: #000;
//             height: 2px;
//             display: block;
//             position: absolute;
//             @include transition(.3s);
//         }
//         .-top{
//             width: 85%;
//             top: 2px;
//         }
//         .-middle{
//             width: 100%;
//             top: 50%;
//             margin-top: -1px;
//         }
//         .-bottom{
//             width: 60%;
//             bottom: 2px;
//         }
//     }
//     &:hover{
//         .-top{
//             width: 60%;
//         }
//         .-middle{
//             width: 100%;
//         }
//         .-bottom{
//             width: 85%;
//         }
//     }
// }
// .hamber_onclick{
//     .shape{
//         .-top,.-bottom{
//             width:0;
//         }
//         .-middle{
//             width: 17px;
//             left: 1.5px;
//             position: relative;
//             @include transform-origin(50% 50%);
//             @include transform(rotate(45deg));
//             &:before{
//                 content: '';
//                 width: 17px;
//                 height: 2px;
//                 background: #000;
//                 position: absolute;
//                 @include transform-origin(50% 50%);
//                 @include transform(rotate(90deg));
//             }
//         }
//     }
// }